body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-wrapper {
    width:50%;
    margin: auto;
    height: auto;
    background: #a9a9a961;
}

.main-wrapper .title {
    margin: 0 ;
    text-align: center;
    padding: 20px 0;
}

.main-wrapper .form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: orange;
}

.main-wrapper .form > .input {
    padding: 10px;
    font-size: 18px;
}

.none {
    display:none;
}




